NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_VENUE_API_URL=http://localhost:3003
NEXT_PUBLIC_EVENTS_API_URL=http://localhost:3004
NEXT_PUBLIC_TICKETS_API_URL=http://localhost:3005
NEXT_PUBLIC_POS_API_URL=http://localhost:3006
NEXT_PUBLIC_ACCESS_API_URL=http://localhost:3007
